[Desktop Entry]
Name=TurtleBots
Name[es]=TurtleBots
GenericName=Sugar TurtleBots activity
GenericName[es]=Actividad Sugar TurtleBots
TryExec=turtlebots
Exec=/usr/share/sugar/activities/TurtleBots.activity/turtleblocks.py
Icon=/usr/share/icons/hicolor/scalable/apps/turtlebots.svg
Type=Application
Comment=TurtleBlocks with robot plugins
Comment[es]=TurtleBlocks con plugins roboticos
Terminal=false
Categories=Education;
